/* Your CSS styles go here */

html {
  background: url(sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile_pic{
  height:200px;
  width: 200px;
  border-radius: 50%;
}
ul{ color: red;}
ol{ color: blue;}
TR{ color: skyblue;}



.content{
background-color: rgba(0, 0, 0, 0.7);
background-position: center;
color: white;
padding : 40px;
height: 500px;
width: : 300px;
margin: 0 auto;
text-align: center;
}
.a{
  list-style-type: none;
  list-style-position: inside;
}

.edu{
  background-color: rgba(47,79,79,0.7);
  background-position: left;
  color: white;
  padding : 10px;
  height: 150px;
  width: : 50%;
  margin: 0 auto;
  text-align:center;

}
.b{
  list-style-type: none;
  list-style-position: inside;
}
.skill{
  background-color: rgba(106,90,205,0.7);
  background-position: left;
  color: white;
  padding : 10px;
  height: 150px;
  width: : 50%;
  margin:  auto;
  text-align:center;
}
.table{
  background-color: rgba(138,43,226,0.7);
  background-position: left;
  color: white;
  padding : 10px;
  height: 300px;
  width: :100%;
  margin: 0 auto;
  text-align:center;

}
.center{
  margin-left:auto;
    margin-right:auto;
}
.form{
  background-color: rgba(128,0,0,0.7);
  background-position: left;
  color: white;
  padding : 10px;
  height: 300px;
  width: :50%;
  margin:  auto;
  text-align:center;
}

@media (min-width:400px) and (max-width:800px){

.content{
  background-color:rgba(63, 191, 155, 0.7) ;
}
.edu{
  background-color:rgba(63, 123, 191, 0.7);

}
.skill{
  background-color:rgba(63, 191, 84,0.7);
}
.table{
  background-color:rgba(174, 191, 63, 0.44);
}
.form{
  background-color:rgba(191, 63, 174, 0.44);
}
html {
  background: url(bgi.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
/*@media screen (min-width:315px) and (max-width:380px){

  .content{
    width: :100%;
  }
  .edu{
    width: :100%;
  }
  .skill{
      width: :100%;
  }
  .table{
      width: :100%;
      background-position: center;
  }
  .form{
    width: :100%;
  }
  .center{
    margin-left:auto;
      margin-right:auto;


}*/
@media only screen and (min-width : 320px) and (max-width : 380px) {
.profile_pic{
  height :100px;
  width :100px;
}
  .content{
    width: :80%;
  }
  .edu{
    width: :100%;
  }
  .skill{
      width: :100%;
  }
  .table{
      width: :100%;
      background-position: center;
  }
  .form{
    width: :100%;
  }
  .center{
    margin-left:auto;
      margin-right:auto;
      border: 4;
      font-size: 16px;

}
